#webcss_console {
	width: 900px;
	height: 20px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -450px;
	-moz-box-shadow: #000 0px 10px 10px;
	-webkit-box-shadow: #000 0px 10px 10px;
	overflow: hidden;
}

#webcss_console_head {
	width: 100%;
	height: 20px;
	background-image: url("images/console_head.png");
	cursor: pointer;
}

#webcss_console #console_container {
	background-image: url("images/transparent.png");
}

#webcss_console textarea {
	width: 880px;
	height: 378px;
	border: 0px;
	background: transparent;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}

#webcss_console textarea:active {
	outline: none;
}